.card {
    width: 190px;
    height: 270px;
    text-align: center;
    border-radius: 30px;
    margin:20px;
    display: inline-block;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
   }

.img {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 30px;
    background: #212121;
    box-shadow: -5px -5px 10px  rgb(247, 15, 15),
                5px 10px 23px rgb(13, 17, 252);
    }

.text{  text-align: center;
        color:rgb(182, 183, 184)
    }